:root {
  --filter-text-color-main: invert(5%) sepia(50%) saturate(0%) hue-rotate(0deg)
    /* drop-shadow(2px 2px 2px var(--color-background)); */
    drop-shadow(2px 2px 2px var(--color-border));
  --filter-text-color-secondary: orange;
  /* --color-parent-background: #84aabc; */
  --color-parent-background: rgb(88, 136, 165);
  --color-background: #d3e6ed;
  --color-border: #3d4b62;
  --box-shadow-neuo: -2px -2px 2px 0 rgba(0, 0, 0, 0.1),
    1px -1px 1px 0 rgba(0, 0, 125, 0.2), 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 8px;
  font-weight: bold;
  color: var(--color-border);
  /* font-weight: bold; */
  background: whitesmoke;
}

.container-style {
  /* border: 1px solid var(--color-border); */
  border-radius: 5px;
  /* background-color: var(--color-parent-background); */
  background-color: whitesmoke;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas:
    "header year poster"
    "month month poster"
    "days days poster";

  height: 100vh;
  width: 90vw;
  margin-top: 5px;

  justify-items: space-around;

  text-align: center;
}

.character-png {
  filter: var(--filter-text-color-main);
  border: none;
}

.header-style {
  /* border-right: 3px solid var(--color-border); */
  border-radius: 25px;
  grid-area: header;
  font-size: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow: var(--box-shadow-neuo);
}

.year-style {
  /* border-left: 3px solid var(--color-border); */
  border-radius: 25px;
  grid-area: year;
  font-size: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-neuo);
}

.year-style .image-1 {
  /* border: 1px solid blue; */
  margin: 15px;
  transform: scale(1);
}

.month-style {
  /* border: 1px solid var(--color-border); */
  border-radius: 25px;
  grid-area: month;
  font-size: 4em;

  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

  width: 412.22px;
  transform: scale(1.35);
}

.month-style .character-png {
  border: none;
  margin: 10px;
  transform: scale(1);
}

.days-style {
  /* border: 1px solid var(--color-border); */
  grid-area: days;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date-box-day {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-background);
  display: flex;

  justify-content: center;
  align-items: center;
}

.date-box-day:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.date-box-day .character-png {
  transform: scale(0.5);
  margin: -8px;
}

.inactive {
  background-color: var(--color-parent-background);
  border: 2px solid var(--color-border);
  border-bottom: none;
  border-top: none;
}
.inactive:hover {
  background-color: var(--color-parent-background);
  cursor: default;
}

#chart-days {
  /* border-top: 3px solid var(--color-border); */
  border-radius: 25px;
  background-color: var(--color-parent-background);

  display: grid;

  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);

  grid-gap: 5px;

  justify-content: center;
  align-content: center;

  padding: 15px;
  box-shadow: var(--box-shadow-neuo);
}

.image-poster {
  /* border-left: 1px solid red; */
  border: 3px solid var(--color-border);
  border-radius: -25px;
  box-shadow: -13px -13px 30px white, 13px 13px 30px var(--color-border);
  background-color: var(--color-border) !important;
  grid-area: poster;
  background: url(../img/Anakin-Thrawn.jpg) center top no-repeat;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: whitesmoke;
  }

  .year-style {
    /* border-right: 3px solid var(--color-border); */
  }

  .container-style {
    display: grid;
    grid-template-areas:
      ". poster ."
      ". header ."
      ". year ."
      ". month ."
      ". days .";

    grid-template-columns: 20% 60% 20%;

    margin: 0;
    margin-top: 5px;
    background-color: whitesmoke;
  }

  .image-poster {
    height: 80vh;
    background: url(../img/Vader-Thrawn-2.jpg) center top no-repeat;
    background-color: whitesmoke;
  }
}

/* Numbers */
#zero {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -10px -275px;
}
#one {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -60px -275px;
}
#two {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -113px -275px;
}
#three {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -165px -275px;
}
#four {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -219px -275px;
}
#five {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -270px -275px;
}
#six {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -323px -275px;
}
#seven {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -375px -275px;
}
#eight {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -428px -275px;
}
#nine {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -480px -275px;
}

#a {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -8px -145px;
}
#b {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -62px -145px;
}
#c {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -115px -145px;
}
#d {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -165px -145px;
}
#e {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -219px -145px;
}
#f {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -271px -145px;
}
#g {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -322px -145px;
}
#h {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -375px -145px;
}
#i {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -430px -145px;
}
#j {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -480px -145px;
}
#k {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -533px -145px;
}
#l {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -587px -145px;
}
#m {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -638px -145px;
}

#n {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -10px -200px;
}
#o {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -62px -200px;
}
#p {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -115px -200px;
}
#q {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -165px -201px;
}
#r {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -218px -200px;
}
#s {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -271px -200px;
}
#t {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -323px -200px;
}
#u {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -375px -200px;
}
#v {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -428px -200px;
}
#w {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -480px -200px;
}
#x {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -533px -200px;
}
#y {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -585px -200px;
}
#z {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -637px -200px;
}

#Aa {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -10px -350px;
}
#Bb {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -62px -350px;
}
#Cc {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -114px -350px;
}
#Dd {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -165px -350px;
}
#Ee {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -218px -350px;
}
#Ff {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -271px -350px;
}
#Gg {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -324px -348px;
}
#Hh {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -375px -350px;
}
#Ii {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -425px -350px;
}
#Jj {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -480px -350px;
}
#Kk {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -532px -350px;
}
#Ll {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -585px -350px;
}
#Mm {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -637px -350px;
}

#Nn {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -10px -405px;
}
#Oo {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -62px -405px;
}
#Pp {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -115px -405px;
}
#Qq {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -165px -405px;
}
#Rr {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -220px -405px;
}
#Ss {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -271px -405px;
}
#Tt {
  width: 30px;
  height: 30px;
  background: url(../img/StarWars.png) -323px -405px;
}
